.shopify-section .video-hero {
    
}

.video-bkg {
	width: 100%;
  	height: 100%;
  	background: red;
}

.video-hero__video-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: calc(var(--mobile-height) - var(--announcement-height));
    padding-top: 440px;
}

.video-hero__video-wrapper img {
  	width: 100%;
}
  
.video-hero__video-wrapper button.video-pause {
	display: none;
}

.video-hero__image, .video-hero__video {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

.video-hero__overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-overlay);
    opacity: var(--overlay-opacity);
}

.video-hero__content-wrapper {
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
}

.video-hero__content-wrapper .btn{
background: transparent;
    color: white;
        padding: 4px 20px;
    position: relative;
      text-transform: uppercase;
    font-family: 'Rajdhani Medium';
    font-size: 28px;
  /box-shadow: inset -1px -1px 8px 0 #979797, 1px 1px 5px #979797;
    text-decoration: none;
      border: 1px solid white;
}

.video-hero__content-wrapper .video-hero__heading {
    position: absolute;
    /left: 50%;
    /transform: translate(-50%,-50%);
    color: #fff;
    font-size: 42px;
    /top: 50%;
    margin: 0px 0 0 3px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.video-hero__content-wrapper .video-hero__button-wrapper {
	position: absolute;
  	/bottom: 16px;
    /left: 50%;
    /transform: translateX(-50%);
  
}

.video-hero__content-wrapper .video-hero__subheading {
    position: absolute;
    /left: 50%;
    /transform: translate(-50%,-50%);
    color: #fff;
    font-size: 8px;
    /top: 50%;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
}

.video-hero__content-wrapper .video-hero__content .video-hero__subheading {
    margin: -10px 0 0 3px;
}