
<div class="product__view-count" data-counter="{{ block.settings.max_view_count }}">
	{% render 'icon-custom' with icon: 'eye' %}<span class="count">2</span><span>{{ block.settings.view_count_text }}</span> 
</div>